{% extends 'core/base.html' %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>


        <div class="mt-2 flex items-center">
            {% if not is_own_profile %}
                <!-- Upvote button -->
                <form method="post" action="{% url 'upvote' user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="bg-green-500 text-white px-2 py-1 rounded-full flex items-center">
                        Upvote <span class="ml-1 text-lg">&#9650;</span>
                    </button>
                    <span class="ml-2 text-sm">{{ profile.upvotes }} Upvotes</span>
                </form>

                <!-- Downvote button -->
                <form method="post" action="{% url 'downvote' user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded-full flex items-center ml-2">
                        Downvote <span class="ml-1 text-lg">&#9660;</span>
                    </button>
                    <span class="ml-2 text-sm">{{ profile.downvotes }} Downvotes</span>
                </form>
            {% endif %}
        </div>

        <div style="display: flex; justify-content: center">
            <div class="card">
                <div class="imgBox">
                    <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile image"
                         class="rounded-full">
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="content">
                        <div class="details">
                                <div class="mb-4">
                                    <p class="font-semibold">Username: {{ user.username }}</p>
                                </div>

                                <div class="mb-4">
                                    <p class="font-semibold">Upvotes: {{ user.profile.upvotes }}</p>
                                    <p class="font-semibold">Downvotes: {{ user.profile.downvotes }}</p>
                                </div>

                            {% if user.username != request.user.username %}
                                {% if items %}
                                    <div class="grid grid-cols-3 gap-3">
                                        {% for item in items %}
                                            <div>
                                                <a href="{% url 'item:detail' item.id %}">
                                                    <div>
                                                        <img src="{{ item.image.url }}" class="rounded-t-xl">
                                                    </div>
                                                    <div class="p-6 bg-white rounded-b-xl">
                                                        <h2 class="text-2xl">{{ item.name }}</h2>
                                                        <p class="text-gray-500">Price: {{ item.price }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <div>

                                    <div class="mb-4 w-1/8">
                                        <label for="username" class="block text-gray-600 font-medium">Username:</label>
                                        <input type="text" id="username" name="username" class="border border-gray-300 p-2 rounded w-full" required value="{{ user.username }}">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="firstname" class="block text-gray-600 font-medium">First Name:</label>
                                        <input type="text" id="firstname" name="firstname" class="border border-gray-300 p-2 rounded w-full" required value="{{ user.profile.firstname }}">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="lastname" class="block text-gray-600 font-medium">Last Name:</label>
                                        <input type="text" id="lastname" name="lastname" class="border border-gray-300 p-2 rounded w-full" required value="{{ user.profile.lastname }}">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="bio" class="block text-gray-600 font-medium">Bio:</label>
                                        <textarea id="bio" name="bio" class="border border-gray-300 p-2 rounded w-full" required rows="6">{{ user.profile.bio }}</textarea>
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="profile-image" class="block text-gray-600 font-medium">Profile Image:</label>
                                        <input type="file" id="profile-image" name="image" class="border border-gray-300 p-2 rounded w-full">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="location">Location:</label>
                                        <select id="location" name="location" class="border border-gray-300 p-2 rounded w-full">
                                            <option value="" {% if not user.profile.location %}selected{% endif %}>Select a Location</option>
                                            {% for location in locations %}
                                                <option value="{{ location.id }}" {% if location.id == user.profile.location_id %}selected{% endif %}>
                                                    {{ location.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="address" class="block text-gray-600 font-medium">Address:</label>
                                        <input type="text" id="address" name="address" class="border border-gray-300 p-2 rounded w-full" required value="{{ user.profile.address }}">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        <label for="color">Choose a color:</label>
                                        <input type="color" id="color" name="color" value="{{ user.profile.color }}">
                                    </div>

                                    <div class="mb-4 w-1/8">
                                        {{ form.as_table }}
                                    </div>
                                </div>
                                <!-- Information Boxes -->
                                <!-- End Information Boxes -->
                                <button class="hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-1/8" style="background: {{ user.profile.color }}" type="submit">Update Profile</button>
                                <div>
{#                                    <input type="text" class="tab-content" id="floatingHistory" name="history" placeholder="LoginHistory">#}
                                    <label>Login History:</label>
                                        {% for foo in history %}
                                        {{ foo.ip }}
                                        {{ foo.user_agent }}
                                        {{ foo.date_time }}
                                    {% endfor %}
                                </div>
                             </form>
                           </div>
{#                                {% endif %}#}
                         </div>

                            {% endif %}

                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
<script>
    // JavaScript code to handle color selection
    document.addEventListener('DOMContentLoaded', function() {
        const submitButton = document.getElementById('submit-button');

        submitButton.addEventListener('click', function() {
            const selectedColor = document.querySelector('input[name="color"]:checked');

            if (selectedColor) {
                alert('Selected color: ' + selectedColor.value);
            } else {
                alert('Please select a color.');
            }
        });
    });
</script>

