{% extends 'core/base.html' %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-md">
        <div class="flex items-center">
            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                 src="{{ user.profile.image.url }}" alt="Bordered avatar" style="border: 2px solid {{ user.profile.color }};">

            <div class="ml-4">
                <h2 class="text-2xl font-bold">{{ user.username }}</h2>
                <p class="text-gray-500">{{ user.email }}</p>
            </div>
        </div>

        <div class="bg-white p-8 rounded-lg shadow-lg mt-2 mb-2">
            {% if user.username != request.user.username %}
                <div class="flex items-center mb-4">
                    <!-- Upvote button -->
                    <form method="post" action="{% url 'upvote' user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="bg-green-600 text-white px-2 py-1 rounded-full flex items-center">
                            Upvote <span class="ml-1 text-lg">&#9650;</span>
                        </button>
                        <span class="ml-2 text-sm">{{ profile.upvotes }} Upvotes</span>
                    </form>

                    <!-- Downvote button -->
                    <form method="post" action="{% url 'downvote' user.username %}">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded-full flex items-center ml-2">
                            Downvote <span class="ml-1 text-lg">&#9660;</span>
                        </button>
                        <span class="ml-2 text-sm">{{ profile.downvotes }} Downvotes</span>
                    </form>
                </div>

                <div class="bg-gray-100 p-4 rounded-lg shadow-lg mb-5 border border-gray-300">
                    <legend class="text-xl font-bold mb-3 text-gray-700">Profile Info</legend>
                    <div class="text-gray-700">
                        <div class="mb-2">
                            <span class="font-semibold">Username:</span> {{ user.username }}
                        </div>

                        <div>
                            <p class="mb-2">
                                <span class="font-semibold">Name:</span> {{ profile.first_name }} {{ profile.last_name }}
                            </p>
                        </div>

                        <div class="mb-2">
                            <span class="font-semibold">Email:</span> {{ user.email }}
                        </div>

                        <div>
                            <span class="font-semibold">Bio:</span> {{ profile.bio }}
                        </div>

                        <div>
                            <span class="font-semibold">Location:</span> {{ profile.location }}
                        </div>
                    </div>
                </div>

                {% if item %}
                    <div class="grid grid-cols-3 gap-3 flex space-x-4" style="margin-right: 20px; margin-left: 20px">
                        {% for item in item %}
                            <div class="flex">
                                <a href="{% url 'item:detail' item.id %}">
                                    <div class="bg-white rounded-lg overflow-hidden shadow-md flex">
                                        <div>
                                            <img src="{{ item.image.url }}" class="w-full h-full object-cover rounded-t-xl m-auto">
                                        </div>
                                        <div class="p-4">
                                            <h2 class="text-lg font-bold uppercase">{{ item.name }}</h2>
                                            <p class="text-gray-500 text-sm">Price: {{ item.price }}</p>
                                            <p class="text-gray-500 text-sm">Category: {{ item.category.name }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


            {% else %}
                <form method="POST" enctype="multipart/form-data" class="mt-4">
                    {% csrf_token %}

                    <div class="mb-4">
                        <p class="font-semibold">Upvotes: {{ user.profile.upvotes }}</p>
                        <p class="font-semibold">Downvotes: {{ user.profile.downvotes }}</p>
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ u_form.username.id_for_label }}" class="block text-gray-600 font-medium">Username:</label>
                        <input type="text" id="username" name="username"
                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.username }}"
                               placeholder="Username">
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ u_form.first_name.id_for_label }}" class="block text-gray-600 font-medium">First Name:</label>
                        <input type="text" id="first_name" name="first_name"
                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.first_name }}"
                               placeholder="First Name">
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ u_form.last_name.id_for_label }}" class="block text-gray-600 font-medium">Last Name:</label>
                        <input type="text" id="last_name" name="last_name"
                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.last_name }}"
                               placeholder="Last Name">
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ p_form.location.id_for_label }}" class="block text-gray-600 font-medium">Location:</label>
                        {{ p_form.location }}
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ p_form.address.id_for_label }}" class="block text-gray-600 font-medium">Address:</label>
                        <input type="text" id="address" name="address"
                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.profile.address }}"
                               placeholder="Address">
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ p_form.profile.bio.id_for_label }}" class="block text-gray-600 font-medium">Bio:</label>
                        <textarea id="bio" name="bio"
                                  class="border border-gray-300 p-2 rounded w-full" required rows="6"
                                  placeholder="Add a Bio">{{ user.profile.bio }}</textarea>
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ form.color.id_for_label }}">Choose a color:</label>
                        <input type="color" id="color" name="color" value="{{ user.profile.color }}">
                    </div>

                    <div class="mb-4 w-1/2">
                        {{ form.as_table }}
                    </div>

                    <div class="mb-4 w-1/2">
                        <label for="{{ p_form.image.id_for_label }}" class="block text-gray-600 font-medium">Profile Image:</label>
                        <input type="file" id="profile-image" name="image" class="border border-gray-300 p-2 rounded w-full">
                    </div>

                    <button class="hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-1/8"
                            style="background: {{ user.profile.color }}" type="submit">Update Profile</button>
                    <button class="hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-1/8"
                            style="background: {{ user.profile.color }}" type="button" id="submit-button">
                        <a href="{% url 'password_reset' %}" class="text-white">Change Password</a>
                    </button>

                        <div class="mt-10 bg-white p-10 rounded-xl shadow-xl" style="max-height: 300px; overflow-y: auto;">
                            <label class="font-bold text-xl uppercase">Login History:</label><br><br>
                            {% for foo in login_history %}
                                {{ foo.date_time }}<br>
                                {{ foo.ip }}
                                {{ foo.user_agent }}<br><br>
                            {% endfor %}
                        </div>
                  </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{#JavaScript code to handle color selection#}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const submitButton = document.getElementById('submit-button');

        submitButton.addEventListener('click', function() {
            const selectedColor = document.querySelector('input[name="color"]:checked');

            if (selectedColor) {
                alert('Selected color: ' + selectedColor.value);
            } else {
                alert('Please select a color.');
            }
        });
    });
</script>




{#{% extends 'core/base.html' %}#}
{#{% block title %}Profile{% endblock title %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{#    <div class="bg-white p-8 rounded-lg shadow-md">#}
{#        <div class="flex items-center">#}
{#            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"#}
{#                 src="{{ user.profile.image.url }}" alt="Bordered avatar" style="border: 2px solid {{ user.profile.color }};">#}
{##}
{#            <div class="ml-4">#}
{#                <h2 class="text-2xl font-bold">{{ user.username }}</h2>#}
{#                <p class="text-gray-500">{{ user.email }}</p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="bg-white p-8 rounded-lg shadow-lg mt-2 mb-2">#}
{#            {% if user.username != request.user.username %}#}
{#                <div class="flex items-center mb-4">#}
{#                    <!-- Upvote button -->#}
{#                    <form method="post" action="{% url 'upvote' user.username %}">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="bg-green-600 text-white px-2 py-1 rounded-full flex items-center">#}
{#                            Upvote <span class="ml-1 text-lg">&#9650;</span>#}
{#                        </button>#}
{#                        <span class="ml-2 text-sm">{{ profile.upvotes }} Upvotes</span>#}
{#                    </form>#}
{##}
{#                    <!-- Downvote button -->#}
{#                    <form method="post" action="{% url 'downvote' user.username %}">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded-full flex items-center ml-2">#}
{#                            Downvote <span class="ml-1 text-lg">&#9660;</span>#}
{#                        </button>#}
{#                        <span class="ml-2 text-sm">{{ profile.downvotes }} Downvotes</span>#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <div class="bg-gray-100 p-4 rounded-lg shadow-lg mb-5 border border-gray-300">#}
{#                    <legend class="text-xl font-bold mb-3 text-gray-700">Profile Info</legend>#}
{#                    <div class="text-gray-700">#}
{#                        <div class="mb-2">#}
{#                            <span class="font-semibold">Username:</span> {{ user.username }}#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <p class="mb-2">#}
{#                                <span class="font-semibold">Name:</span> {{ profile.first_name }} {{ profile.last_name }}#}
{#                            </p>#}
{#                        </div>#}
{##}
{#                        <div class="mb-2">#}
{#                            <span class="font-semibold">Email:</span> {{ user.email }}#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <span class="font-semibold">Bio:</span> {{ profile.bio }}#}
{#                        </div>#}
{##}
{#                        <div>#}
{#                            <span class="font-semibold">Location:</span> {{ profile.location }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                {% if item %}#}
{#                    <div class="grid grid-cols-3 gap-3 flex space-x-4" style="margin-right: 20px; margin-left: 20px">#}
{#                        {% for item in item %}#}
{#                            <div class="flex">#}
{#                                <a href="{% url 'item:detail' item.id %}">#}
{#                                    <div class="bg-white rounded-lg overflow-hidden shadow-md flex">#}
{#                                        <div>#}
{#                                            <img src="{{ item.image.url }}" class="w-full h-full object-cover rounded-t-xl m-auto">#}
{#                                        </div>#}
{#                                        <div class="p-4">#}
{#                                            <h2 class="text-lg font-bold uppercase">{{ item.name }}</h2>#}
{#                                            <p class="text-gray-500 text-sm">Price: {{ item.price }}</p>#}
{#                                            <p class="text-gray-500 text-sm">Category: {{ item.category.name }}</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{##}
{#            {% else %}#}
{#                <form method="POST" enctype="multipart/form-data" class="mt-4">#}
{#                    {% csrf_token %}#}
{##}
{#                    <div class="mb-4">#}
{#                        <p class="font-semibold">Upvotes: {{ user.profile.upvotes }}</p>#}
{#                        <p class="font-semibold">Downvotes: {{ user.profile.downvotes }}</p>#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ u_form.username.id_for_label }}" class="block text-gray-600 font-medium">Username:</label>#}
{#                        <input type="text" id="username" name="username"#}
{#                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.username }}"#}
{#                               placeholder="Username">#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ u_form.first_name.id_for_label }}" class="block text-gray-600 font-medium">First Name:</label>#}
{#                        <input type="text" id="first_name" name="first_name"#}
{#                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.first_name }}"#}
{#                               placeholder="First Name">#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ u_form.last_name.id_for_label }}" class="block text-gray-600 font-medium">Last Name:</label>#}
{#                        <input type="text" id="last_name" name="last_name"#}
{#                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.last_name }}"#}
{#                               placeholder="Last Name">#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ p_form.location.id_for_label }}" class="block text-gray-600 font-medium">Location:</label>#}
{#                        {{ p_form.location }}#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ p_form.address.id_for_label }}" class="block text-gray-600 font-medium">Address:</label>#}
{#                        <input type="text" id="address" name="address"#}
{#                               class="border border-gray-300 p-2 rounded w-full" required value="{{ user.profile.address }}"#}
{#                               placeholder="Address">#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ p_form.profile.bio.id_for_label }}" class="block text-gray-600 font-medium">Bio:</label>#}
{#                        <textarea id="bio" name="bio"#}
{#                                  class="border border-gray-300 p-2 rounded w-full" required rows="6"#}
{#                                  placeholder="Add a Bio">{{ user.profile.bio }}</textarea>#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ form.color.id_for_label }}">Choose a color:</label>#}
{#                        <input type="color" id="color" name="color" value="{{ user.profile.color }}">#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        {{ form.as_table }}#}
{#                    </div>#}
{##}
{#                    <div class="mb-4 w-1/2">#}
{#                        <label for="{{ p_form.image.id_for_label }}" class="block text-gray-600 font-medium">Profile Image:</label>#}
{#                        <input type="file" id="profile-image" name="image" class="border border-gray-300 p-2 rounded w-full">#}
{#                    </div>#}
{##}
{#                    <button class="hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-1/8"#}
{#                            style="background: {{ user.profile.color }}" type="submit">Update Profile</button>#}
{#                    <button class="hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-1/8"#}
{#                            style="background: {{ user.profile.color }}" type="button" id="submit-button">#}
{#                        <a href="{% url 'password_reset' %}" class="text-white">Change Password</a>#}
{#                    </button>#}
{##}
{#                        <div class="mt-10 bg-white p-10 rounded-xl shadow-xl" style="max-height: 300px; overflow-y: auto;">#}
{#                            <label class="font-bold text-xl uppercase">Login History:</label><br><br>#}
{#                            {% for foo in login_history %}#}
{#                                {{ foo.date_time }}<br>#}
{#                                {{ foo.ip }}#}
{#                                {{ foo.user_agent }}<br><br>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                  </div>#}
{##}
{##}
{#                </form>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}
{##}
{#JavaScript code to handle color selection#}
{#<script>#}
{#    document.addEventListener('DOMContentLoaded', function() {#}
{#        const submitButton = document.getElementById('submit-button');#}
{##}
{#        submitButton.addEventListener('click', function() {#}
{#            const selectedColor = document.querySelector('input[name="color"]:checked');#}
{##}
{#            if (selectedColor) {#}
{#                alert('Selected color: ' + selectedColor.value);#}
{#            } else {#}
{#                alert('Please select a color.');#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}