{% extends 'core/base.html' %}
{% load static %}

{% block title %}About Us - HAU Marketplace{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/path-to-your-font-awesome/css/all.min.css">

    <div class="content-wrapper">
        <div class="about-us px-6 py-6">
            <h1 class="text-3xl font-semibold" style="text-transform: uppercase;">ABOUT US - HAU MARKETPLACE</h1>

            <p class="text-lg mt-4" style="text-align: justify;">
                At HAUM (Holy Angel University Marketplace), we are driven by the evolving landscape of digital commerce and the transformative power of online marketplaces in response to the COVID-19 pandemic.
                As the world swiftly transitioned to the digital realm, we recognized the need to create a platform tailored to the unique needs of our fellow students at Holy Angel University.
                Our journey began with an understanding of the changing dynamics in the marketplace, where the demand for secondhand goods and sustainability was on the rise.
                We saw students, seeking innovative solutions to fund their education and the challenges they faced due to financial constraints.
                In response, HAUM was born as a student-centric online marketplace, designed to be user-friendly and efficient, connecting students within our campus community.
            </p>

            <p class="text-lg mt-4" style="text-align: justify;">
                Our mission is deeply rooted in sustainability, affordability, and community engagement.
                We understand the annual cycle of students graduating or progressing to higher academic years, leaving behind a wealth of products, from textbooks to electronics.
                These items, which students no longer need, can be valuable assets to others.
                Our platform offers a convenient space for sellers to find new homes for their pre-loved items, with the primary goal of generating extra income.
                Simultaneously, buyers benefit from access to a wide range of products at budget-friendly prices.
                HAUM embraces the environmental consciousness of our times, recognizing the increasing demand for secondhand, sustainable goods.
            </p>

            <p class="text-lg mt-4" style="text-align: justify;">
                As students ourselves at Holy Angel University, we have a profound understanding of the challenges and opportunities that lie within our campus community.
                HAUM aims to streamline the buying and selling process by providing an accessible, centralized platform for students.
                We leverage the advantages of online marketplaces, including ease of use, affordability, and a good shopping experience.
                Our commitment to fostering a strong sense of community within our university is at the heart of HAUM.
                In summary, HAUM is not just a marketplace; it's a substantial and easily understood program that benefits our entire university community, aligning with the changing dynamics of the marketplace and the evolving needs of our student body.
            </p>
        </div>

        <div class="objectives" style="text-align: justify;">
            <h2 class="text-3xl font-semibold mt-6" style="text-transform: uppercase;">Objectives</h2>

            <ol class="list pl-6 text-lg text-gray-700" style="cursor: pointer;">
                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Create a Campus Marketplace:</a><br>
                    <div class="dropdown-content">
                        The primary objective is to establish a digital marketplace called "HAUM" within the Holy Angel University campus, aimed at facilitating the buying and selling of both used and new goods.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Support Students' Financial Needs:</a> <br>
                    <div class="dropdown-content">
                        This website seeks to provide students with an opportunity to supplement their income by selling items they no longer need, thereby addressing financial challenges that some students face.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Promote Sustainability:</a><br>
                    <div class="dropdown-content">
                        By encouraging the reuse of items through secondhand sales, this website aims to promote sustainability and reduce waste, aligning with the increasing consumer demand for environmentally friendly and sustainable products.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Enhance User-Friendliness:</a><br>
                    <div class="dropdown-content">
                        This website's goal is to create a user-friendly and efficient online platform for students to engage in buying and selling activities, improving the overall experience for users.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Boost Convenience:</a><br>
                    <div class="dropdown-content">
                        By bringing together buyers and sellers within the university community through an online marketplace, this website intends to enhance convenience and accessibility for students in acquiring the products they need.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Foster Community Engagement:</a><br>
                    <div class="dropdown-content">
                        This website aspires to strengthen the sense of community within the university by providing a platform for students to interact and transact with each other.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Offer Cost Savings:</a><br>
                    <div class="dropdown-content">
                        For buyers, this website seeks to offer cost savings by allowing them to purchase products at lower prices compared to new equivalents, promoting affordability.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Support a Range of Products:</a><br>
                    <div class="dropdown-content">
                        The website's marketplace will cater to a wide variety of products, from textbooks and school supplies to electronics and more, meeting the diverse needs of students.
                    </div>
                </li>

                <li class="dropdown" style="margin-bottom: 20px;">
                    <i class="fas fa-arrow-right text-red-900 mr-2"></i><a class="font-semibold" style="text-transform: uppercase;">Maximize Market Potential:</a><br>
                    <div class="dropdown-content">
                        By tapping into the market for secondhand goods and digital commerce, the website aims to harness the potential for growth and participation in online retail, particularly among students.
                    </div>
                </li>
            </ol>
        </div>
    </div>

    <hr style="width: 100%; border: 1px solid #560000; margin: 20px 0;">
    <h2 class="text-3xl font-semibold mt-6 text-center" style="text-transform: uppercase; margin-bottom: 20px;">Team Members</h2>
    <div class="team-members-container" style="display: flex; flex-wrap: wrap; gap: 50px; justify-content: center; align-items: center; cursor: pointer;">
        <div class="team-member">
            <img class="team-member-image" src="{% static 'team/auds.png' %}" alt="Audrey Tan" style="border: 5px solid #560000; border-radius: 80%; width: 150px; height: 150px;">
            <div class="team-member-info" style="display: none;">
                <h3 class="text-xl font-semibold" style="text-transform: uppercase;">Audrey Tan</h3>
                <p>Email: aatan@student.hau.edu.ph</p>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member-image" src="{% static 'team/nashie.png' %}" alt="Nash Maglaqui" style="border: 5px solid #560000; border-radius: 80%; width: 150px; height: 150px;">
            <div class="team-member-info" style="display: none;">
                <h3 class="text-xl font-semibold" style="text-transform: uppercase;">Nash Maglaqui</h3>
                <p>Email: snmaglaqui@student.hau.edu.ph</p>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member-image" src="{% static 'team/miah.png' %}" alt="Miah To" style="border: 5px solid #560000; border-radius: 80%; width: 150px; height: 150px;">
            <div class="team-member-info" style="display: none;">
                <h3 class="text-xl font-semibold" style="text-transform: uppercase;">Miah To</h3>
                <p>Email: mmto@student.hau.edu.ph</p>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member-image" src="{% static 'team/hel.png' %}" alt="Helaena Sanchez" style="border: 5px solid #560000; border-radius: 80%; width: 150px; height: 150px;">
            <div class="team-member-info" style="display: none;">
                <h3 class="text-xl font-semibold" style="text-transform: uppercase;">Helaena Sanchez</h3>
                <p>Email: hdsanchez1@student.hau.edu.ph</p>
            </div>
        </div>
    </div>

{#  JavaScript to toggle team member information#}
    <script>
        const teamMemberImages = document.querySelectorAll('.team-member-image');

        teamMemberImages.forEach(image => {
            image.addEventListener('click', () => {
                const info = image.nextElementSibling;
                info.style.display = info.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>

{#  CSS for the two-column layout#}
    <style>
        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .about-us {
            width: 48%; /* Adjust the width as needed */
        }

        .objectives {
            width: 48%; /* Adjust the width as needed */
        }

        /* Rest of your CSS for the content */
    </style>

{#  Dropdown Content#}
    <style>
        .dropdown-content {
            display: none;
            margin-top: 10px;
            padding-left: 25px;
        }

        .dropdown.active .dropdown-content {
            display: block;
        }

        .dropdown.active .fas.fa-arrow-right::before {
            content: "\f106"; /* FontAwesome caret-down icon */
        }
    </style>

{#  JavaScript to toggle the dropdowns#}
    <script>
        const dropdownItems = document.querySelectorAll('.dropdown');

        dropdownItems.forEach(item => {
            item.addEventListener('click', () => {
                item.classList.toggle('active');
            });
        });
    </script>

{% endblock %}