<!DOCTYPE>
{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-sclae=1.0">
        <script src = "https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css?family=Font1|Font2|Font3&display=swap"  rel="stylesheet">
        <style>
            /* In your CSS, define different font styles */
                body.font1{
                    font-family: 'Font1', sans-serif; /* Default font style */
                }

                /* Apply the user's selected font style */
                body.font2 {
                    font-family: 'Font2', sans-serif;
                }

                body.font3 {
                    font-family: 'Font3', sans-serif;
                }

        </style>
        <title>{% block title %}{% endblock title %} | HAUMarketplace</title>

    </head>

    <body>
        <div style ="font-family: {{ user.profile.font_preference }}">
            <nav class ="py-6 px-6 flex justify-between items-center color=border-b border-gray-200">
                <a href="/" class="text-xl font-semibold">HAUM</a>

                <div class ="space-x-6">

                    {% if request.user.is_authenticated %}
                        <div class ="container-fluid">
    {#                        <a href="{% url 'choose_color' %}" class="text-lg font-semibold hover:text-gray-500" style="background: {{ user.profile.color }}>Customize</a>#}
                            <a href="{% url 'item:new_item' %}" class="text-lg font-semibold hover:text-gray-500">New Item</a>
                            <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>
                            <a href="{% url 'conversation:inbox' %}" class="px-6 py-3 text-lg font-semibold text-white rounded-xl hover:bg-red-900" style="background:{{ color_form.color.value }}">Inbox</a>
                            <a href="{% url 'profile' request.user.username %}" class="px-6 py-3 text-lg font-semibold text-white rounded-xl hover:bg-red-900" style="background: {{ color_form.color.value }}">Profile</a>
                            <a href="{% url 'dashboard:index_d' %}" class="px-6 py-3 text-lg font-semibold text-white rounded-xl hover:bg-red-900" style="background: {{ color_form.color.value }}">Dashboard</a>
                             <a href="{% url 'logout' %}" class="px-6 py-3 text-lg font-semibold text-white rounded-xl hover:bg-red-900" style="background: {{ color_form.color.value }}">Logout</a>
                        </div>
                    {% else %}
                        <a href="{% url 'signup' %}" class="px-6 py-3 text-lg font-semibold bg-red-800  text-white rounded-xl hover:bg-red-900">Sign Up</a>
                        <a href="{% url 'login' %}" class="px-6 py-3 text-lg font-semibold bg-red-800  text-white rounded-xl hover:bg-red-900">Login</a>
                    {% endif %}
                </div>
            </nav>
            <div class = "px-6 py-6">
                {% block content %}
                {% endblock content %}
            </div>

            <footer class ="py-6 px-6 flex justify-between bg-red-800"
            {% if user.is_authenticated %}
               style ="background: {{ color_form.color.value }}"
            {% else %}
               class ="bg-red-800"
            {% endif %}>

                <div class ="w-2/3 pr-10">
                    <h3 class ="mb-5 text-xl font-semibold text-white">About</h3>

                    <p class ="text-white">HAUMarketplace is a platform for students to buy and sell items to each other.</p>
                </div>

                <div class = "w-13">
                    <h3 class ="mb-5 text-xl font-semibold text-white">Menu</h3>

                    <ul class ="space-y-2">
                        <li><a href="{% url 'about' %}" class="text-lg text-white hover:text-teal-700">About</a> </li>
                        <li><a href="{% url 'contact' %}" class="text-lg text-white hover:text-teal-700">Contact</a> </li>
                          <li><a href="{% static 'static_root/privacy policy/GROUP4_FINALIZED_PROPOSAL.pdf' %}" class="text-lg text-white hover:text-teal-700" target="_blank">Privacy policy</a> </li>
                    <li><a href="{% static 'static_root/privacy policy/GROUP4_FINALIZED_PROPOSAL.pdf' %}" class="text-lg text-white hover:text-teal-700" target="_blank">Term of use</a> </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>


</html>


