{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="">
            <div class="p-4 bg-gray-100 rounded-xl shadow-xl">
                <h2 class="mt-2 mb-7 text-2xl text-center uppercase font-bold">Newest items</h2>

                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                    {% for item in items %}
                        <a href="{% url 'item:detail' item.id %}" class="block">
                            <div class="bg-white rounded-lg overflow-hidden shadow-md flex flex-col lg:flex-row">
                                <img src="{{ item.image.url }}" class="mt-4 object-cover shadow-xl rounded-t-xl p-3 lg:ml-3 lg:shadow-xl lg:w-32 lg:h-32 lg:p-1 lg:rounded-lg">
                                <div class="p-5 text-center lg:w-full lg:text-left lg:p-4">
                                    <h2 class="text-lg font-bold uppercase">{{ item.name }}</h2>
                                    <p class="text-lg font-bold uppercase">₱ {{ item.price }}</p>
                                    <p class="text-gray-500 text-sm">Category: {{ item.category.name }}</p>
                                    <p class="text-gray-500 text-sm">Location: {{ item.created_by.profile.location.name }}</p>
                                    <p class="text-gray-500 text-sm">Upvotes: {{ item.created_by.profile.upvotes }}</p>
                                    <p class="text-gray-500 text-sm">Downvotes: {{ item.created_by.profile.downvotes }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {#------------------PAGINATION------------------#}
                <div class="mt-10 flex justify-center items-center">
                    <div class="pagination flex flex-col lg:flex-row items-center space-x-4">

                        {% if items.has_previous %}
                            <div class="flex items-center">
                                <a href="?page=1" class="text-gray-500 text-lg lg:mr-3 lg:text-lg hover:text-orange-500 hover:bg-gray-200">
                                    <i class="fas fa-angle-double-left"></i> First
                                </a>

                                <a href="?page={{ items.previous_page_number }}"
                                   class="text-gray-500 text-lg lg:text-lg hover:text-orange-500 hover:bg-gray-200 ml-4 lg:ml-0">
                                    <i class="fas fa-angle-left"></i> Previous
                                </a>
                            </div>
                        {% endif %}

                        <ul class="flex flex-wrap lg:flex-nowrap justify-center lg:justify-start space-x-2 lg:space-x-2">
                            {% for page in items.paginator.page_range %}
                                <li>
                                    <a href="?page={{ page }}"
                                       class="text-gray-500 text-lg lg:text-lg hover:text-orange-500 hover:bg-gray-200 px-1 lg:p-2
                                          rounded-md border border-gray-300">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        {% if items.has_next %}
                            <div class="flex items-center">
                                <a href="?page={{ items.next_page_number }}"
                                   class="text-gray-500 text-lg lg:text-lg lg:mr-3 hover:text-orange-500 hover:bg-gray-200 mr-4 lg:mr-0">
                                    Next <i class="fas fa-angle-right"></i>
                                </a>

                                <a href="?page={{ items.paginator.num_pages }}"
                                   class="text-gray-500 text-lg lg:text-lg hover:text-orange-500 hover:bg-gray-200">
                                    Last <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {#------------------PAGINATION------------------#}
            </div>


            <div class="mt-20 p-4 bg-gray-100 rounded-xl shadow-xl">
                <h2 class="mb-4 text-2xl text-center uppercase font-bold">Categories</h2>

                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                    {% for category in categories %}
                        <div class="p-4 bg-white rounded-xl">
                            <h2 class="text-xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        {% else %}
            <div class="mt-6 flex flex-col lg:flex-row lg:items-center lg:justify-center">
                <div class="flex flex-col justify-center bg-gray-50 p-5 rounded-lg shadow-lg text-center lg:w-1/4 lg:p-3">
                    <h2 class="text-3xl font-semibold mb-3 lg:mb-5 lg:mt-10">WELCOME TO HAUMarketplace!</h2>
                    <p class="text-md lg:mb-10" style="text-align: justify">
                        At HAUM, the Holy Angel University Marketplace,
                        we're dedicated to bringing the campus community
                        together in a convenient and secure space.
                        Whether you're buying or selling, HAUM is your trusted
                        platform for finding great deals on everything from textbooks to electronics.
                        Join us and discover a world of opportunities right here on campus.
                    </p>
                </div>

                <div class="bg-red-900 p-7 rounded-lg shadow-lg text-center lg:w-1/4 flex flex-col justify-center">
                    <a href="{% url 'signup' %}" class="block px-6 py-3 text-xl font-semibold bg-white text-black-50
                    rounded-xl hover:bg-black hover:text-white mb-4 mx-auto mr-5 ml-5 lg:p-10 lg:text-2xl lg:mb-5 lg:mt-8">SIGN UP</a>
                    <a href="{% url 'login' %}" class="block px-6 py-3 text-xl font-semibold bg-white text-black-50
                    rounded-xl hover:bg-black hover:text-white mr-5 ml-5 mx-auto lg:p-10 lg:text-2xl lg:mt-5 lg:mb-8">LOG IN</a>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}
