{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center">Newest items</h2>

            <div class="flex space-x-4"> <!-- Use flex class for horizontal layout -->
                {% for item in items %}
                    <div class="max-w-xs">
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                                <img src="{{ item.image.url }}" class="w-full h-100 object-cover rounded-t-xl">
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                                src="{{ item.created_by.profile.image.url}}" alt="Bordered avatar" style="border: 2px solid {{ item.created_by.profile.color}};">
                                <h2 class="text-xl font-bold uppercase">{{ item.name }}</h2>
                                <p class="text-gray-500">Seller: {{ item.created_by }}</p>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                                <p class="text-gray-500">Category: {{ item.category }}</p>
                                <p class="text-gray-500">Upvotes: {{ item.created_by.profile.upvotes }}</p>
                                <p class="text-gray-500">Downvotes: {{ item.created_by.profile.downvotes }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center">Categories</h2>

            <div class="flex space-x-4"> <!-- Use flex class for horizontal layout -->
                {% for category in categories %}
                    <div class="max-w-xs">
                        <a href="#">
                            <div class="p-6 bg-white rounded-xl">
                                <h2 class="text-xl">{{ category.name }}</h2>
                                <p class="text-gray-500">{{ category.items.count }} items</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="mt-6 mb-4 flex items-center justify-center">
            <div class="bg-gray-50 p-5 rounded-lg shadow-lg w-96 text-center">
                <h2 class="mt-8 text-4xl font-semibold mb-3">WELCOME TO HAUMarketplace!</h2>
                <p class="mb-8 text-md" style="text-align: justify">
                    At HAUM, the Holy Angel University Marketplace,
                    we're dedicated to bringing the campus community
                    together in a convenient and secure space.
                    Whether you're buying or selling, HAUM is your trusted
                    platform for finding great deals on everything from textbooks to electronics.
                    Join us and discover a world of opportunities right here on campus.
                </p>
            </div>

            <div class="bg-red-900 p-20 rounded-lg shadow-lg w-80 text-center min-h-full">
                <a href="{% url 'signup' %}"
                    class="mt-10 block px-6 py-4 text-xl font-semibold bg-white text-black-50 rounded-xl hover:bg-black hover:text-white mb-6"
                    style="font-size: x-large">
                    SIGN UP
                </a>
                <a href="{% url 'login' %}"
                    class="mb-10 block px-6 py-4 text-xl font-semibold bg-white text-black-50 rounded-xl hover:bg-black hover:text-white"
                    style="font-size: x-large">
                    LOG IN
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
