{% extends 'core/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}
{#     <link rel="stylesheet" media="screen and (max-width:1170px)" href="{% static 'tablet.css' %}">#}
{% block content %}

    {% if user.is_authenticated %}
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl shadow-xl">
            <h2 class="mb-12 text-2xl text-center uppercase font-bold">Newest items</h2>

            <div class="col-span-3 flex space-x-2" style="margin-right: 20px; margin-left: 20px">
                <div class="grid grid-cols-5 gap-3">
                    {% for item in items %}
                        <div class="flex">
                            <a href="{% url 'item:detail' item.id %}">
                                <div class="bg-white rounded-lg overflow-hidden shadow-md flex">
                                    <img src="{{ item.image.url }}" class="w-32 h-32 object-cover rounded-t-xl m-auto p-2">
                                    <div class="p-4">
                                        <h2 class="text-lg font-bold uppercase">{{ item.name }}</h2>
                                        <p class="text-gray-500 text-sm">Price: {{ item.price }}</p>
                                        <p class="text-gray-500 text-sm">Category: {{ item.category.name }}</p>
                                        <p class="text-gray-500 text-sm">Location: {{ item.created_by.profile.location.name }}</p>
                                        <p class="text-gray-500 text-sm">Upvotes: {{ item.created_by.profile.upvotes }}</p>
                                        <p class="text-gray-500 text-sm">Downvotes: {{ item.created_by.profile.downvotes }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

                <!-- Pagination -->
        <div class="mt-8 flex justify-center items-center">
            <div class="pagination flex items-center space-x-4">
                {% if items.has_previous %}
                    <a href="?page=1" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">First</a>
                    <a href="?page={{ items.previous_page_number }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Previous</a>
                {% endif %}
                <ul class="flex space-x-2">
                    {% for page in items.paginator.page_range %}
                        <li>
                            <a href="?page={{ page }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Next</a>
                    <a href="?page={{ items.paginator.num_pages }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Last</a>
                {% endif %}
            </div>
        </div>

        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center uppercase font-bold">Categories</h2>

            <div class="flex space-x-4"> <!-- Use flex class for horizontal layout -->
                {% for category in categories %}
                    <div class="max-w-xs">
                        <a href="#">
                            <div class="p-6 bg-white rounded-xl">
                                <h2 class="text-xl">{{ category.name }}</h2>
                                <p class="text-gray-500">{{ category.items.count }} items</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="mt-6 mb-4 flex items-center justify-center">
            <div class="bg-gray-50 p-5 rounded-lg shadow-lg w-96 text-center">
                <h2 class="mt-8 text-4xl font-semibold mb-3">WELCOME TO HAUMarketplace!</h2>
                <p class="mb-8 text-md" style="text-align: justify">
                    At HAUM, the Holy Angel University Marketplace,
                    we're dedicated to bringing the campus community
                    together in a convenient and secure space.
                    Whether you're buying or selling, HAUM is your trusted
                    platform for finding great deals on everything from textbooks to electronics.
                    Join us and discover a world of opportunities right here on campus.
                </p>
            </div>

            <div class="bg-red-900 p-20 rounded-lg shadow-lg w-80 text-center min-h-full">
                <a href="{% url 'signup' %}"
                    class="mt-10 block px-6 py-4 text-xl font-semibold bg-white text-black-50 rounded-xl hover:bg-black hover:text-white mb-6"
                    style="font-size: x-large">
                    SIGN UP
                </a>
                <a href="{% url 'login' %}"
                    class="mb-10 block px-6 py-4 text-xl font-semibold bg-white text-black-50 rounded-xl hover:bg-black hover:text-white"
                    style="font-size: x-large">
                    LOG IN
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
