{% extends 'core/base.html' %}

{% block title %}Password Reset Sent{% endblock title %}

{% block content %}
    <div class="mb-3 flex items-center justify-center">
      <div class="bg-gray-50 p-8 rounded-lg shadow-lg w-96">
          <h1 class="text-2xl font-semibold mb-4">PASSWORD RESET SENT</h1>
          <p class="text-black mb-3">We have emailed you with a link to reset your password.</p>
          <p class="text-black mb-5">If you do not receive an email within 5 minutes, please check your spam or junk folder.</p>
{#          <p class="text-black mb-2 mt-4">You can also type your email again for us to send another verification link.</p>#}
{#          <form method="post">#}
{#            {% csrf_token %}#}
{##}
{#            <div>#}
{#                <label for="id_email" class="block text-gray-600 font-semibold"></label>#}
{#                <input type="email" id="id_email" name="email" class="form-input rounded-md w-full border border-black" placeholder="  Email" required>#}
                                                    {#wag niyo pakelaman ung space sa placeholder, para lang di nakasagad sa border#}
{#            </div>#}
{##}
{#            <button class="text-white font-semibold py-2 px-2 rounded w-1/8 bg-red-800 hover:bg-red-900"#}
{#                    style="background: {{ user.profile.color }}; margin-top: 20px" type="submit">Send Email#}
{#            </button>#}
{#        </form>#}

      </div>
    </div>
{% endblock content %}
