{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

    <div class="flex items-center justify-center">
      <div class="bg-gray-50 p-8 rounded-lg shadow-lg w-96">
        <h1 class="text-2xl font-semibold mb-4">Enter Your Password</h1>
        <p class="text-black mb-4">Please enter you password twice, so we can verify you typed it correctly.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="text-white font-semibold py-2 px-4 rounded w-1/8 bg-red-800 hover:bg-red-900"
                    style="background: {{ user.profile.color }}; margin-top: 20px" type="submit">Change My Password
            </button>
        </form>
      </div>
    </div>

{% endblock content %}
