{% extends 'core/base.html' %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}

    <div class="flex items-center justify-center">
      <div class="bg-gray-50 p-8 rounded-lg shadow-lg w-96">
        <h1 class="text-2xl font-semibold mb-4">SUCCESSFUL!!</h1>
        <p class="text-black mb-4">Your password has been reset. You may now<a href="{% url 'login' %}">
            <strong class="text-gray-20 mb-4 hover:text-red-900" style="text-decoration: underline"> LOG IN</strong></a>.
        </p>
      </div>
    </div>

{% endblock content %}