{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="max-w-xl mx-auto bg-gray-100 p-5 rounded-lg shadow-lg lg:mb-3">
    <h1 class="text-3xl font-semibold mb-6" style="text-align: center">Change password</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

    <p class="text-black mb-4">Please enter you password twice, so we can verify you typed it correctly.

        <div class="space-y-4">
            {{ form.as_p }}
        </div>

        <button class="mt-6 py-3 px-6 text-lg bg-red-800 hover:bg-red-900 rounded-lg text-white"
                style="background: {{ user.profile.color }}">Submit</button>
    </form>
</div>


{% endblock content %}
