{% extends 'core/base.html' %}

{% block title %}Request New Activation Link{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div class="p-10 bg-gray-100 rounded-xl shadow-lg w-96">
        <h1 class="text-3xl text-center font-bold py-2 uppercase mb-3">Request New Activation Link</h1>

        <form method="post" action="{% url 'request_new_activation_link' %}">
            {% csrf_token %}

            <div class="mb-3 text-center">
                <label class="mt-5 text-center uppercase font-bold">Email</label><br>
                <input type="email" name="email" required class="mt-2 p-1 border border-black rounded-md text-center"
                       placeholder="Enter Your Email">

            </div>

            <button class="mt-5 py-3 px-6 text-lg bg-red-800 hover:bg-red-950 rounded-xl font-semibold text-white block mx-auto"
                    style="background: {{ user.profile.color }}">Request Link</button>
        </form>

        <!-- Message about re-sending verification -->
        <div class="mt-5 text-center text-gray-500">
            If you haven't received your verification link or your verification link has expired, click the Re-send verification link.
        </div>
    </div>
</div>
{% endblock %}
