@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card {
    position: relative;
    width: 1200px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: -5px 4px 80px #b6aeae;
    transition: 0.5s;
    background-color: whitesmoke;
    transition: 0.5s;
    overflow: hidden;
}

.card:hover {
    height: 1250px;
}

.imgBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #d9e4e7;
    border-radius: 50%;
    transition: 0.5s;
    outline: auto;
    outline-color: #7f1d1d;
}

.card:hover .imgBox {
    width: 180px;
    height: 180px;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.card .content.name-bio {
    opacity: 1;
    visibility: visible;
}

.card:hover .content.name-bio {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card .content.details {
    padding: 40px;
    text-align: center;
    width: 100%;
}

.card .content.details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .data h3 {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}

.card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/*.card .content .details .actionBtn button {*/
/*    padding: 10px 30px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    outline: none;*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    background: maroon;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/

/*.card .content .details .actionBtn button:nth-child(2) {*/
/*    border: 1px solid #999;*/
/*    color: #999;*/
/*    background: white;*/
/*}*/
