{% extends 'core/base.html' %}

{% block title %}Items{% endblock title %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% block content %}
    <div class="grid grid-cols-1 gap-4 lg:flex lg:grid-cols-2 lg:gap-10 bg-gray-100 shadow-lg rounded-lg">
        <div class="p-5 col-span-1">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border-2 border-gray-700 rounded-xl"
                       style="margin-top: 10px;" type="text" value="{{ query }}" placeholder="Search for items">

                <!-- Filter icon -->
                <div class="lg:hidden mt-5 mb-5 text-center" onclick="toggleFilters()">
                    <i class="fas fa-filter" style="color: {{ user.profile.color }}"></i> Show Filters
                </div>


                <!-- Collapsible content for filters -->
                <div class="lg:block mb-10 hidden" id="filterOptions">
                    <!-- Category filter -->
                    <p class="font-semibold text-xl ml-2 uppercase" style="margin-top: 10px">Categories</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'item:add_category' %}" class="btn btn-sm btn-primary ml-5"
                           style="color: {{ user.profile.color }}" role="button">Add Category</a>
                    {% endif %}
                    <ul>
                        {% for category in category %}
                            <li class="py-2 px-2 rounded-xl ml-3">
                                <input type="checkbox" name="categories" value="{{ category.id }}" id="category_{{ category.id }}"
                                    {% if category.id|stringformat:"s" in test %}checked{% endif %}>
                                <label for="category_{{ category.id }}">{{ category.name }}</label>
                            {% if request.user.is_superuser %}
                                <a href="{% url 'item:edit_category' category.id %}" class="btn btn-sm btn-primary"
                                   style="color: {{ user.profile.color }}" role="button">
                                    Edit
                                </a>
                                <a href="{% url 'item:deleteCategory' category.id %}" class="btn btn-sm btn-primary"
                                   style="color: {{ user.profile.color }}" role="button">
                                    Delete
                                </a>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Price Range filter -->
                    <p class="font-semibold text-xl ml-2 uppercase" style="margin-top: 30px">PRICE RANGE</p>
                    <ul>
                        <div class="flex flex-col mb-3">
                            <!-- Price Range filter -->
                            <div class="flex flex-col ml-3" style="margin-top: 10px">
                                <label for="MinPrice" class="font-semibold text-lg">Min Price:</label>
                                <input type="number" id="min_value" name="min_value" class="border border-black p-1 rounded-sm">
                            </div>
                            <div class="flex flex-col ml-3" style="margin-top: 10px">
                                <label for="MaxPrice" class="font-semibold text-lg">Max Price:</label>
                                <input type="number" id="max_value" name="max_value" class="border border-black p-1 rounded-sm">
                            </div>
                        </div>
                    </ul>

                    {% if messages %}
                        <ul class="messages ml-3 mt-2" style="color: red;">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                    <!-- Vote Filters -->
                    <p class="font-semibold text-xl ml-2 uppercase" style="margin-top: 30px">VOTE FILTERS</p>
                    <ul>
                        <li class="py-2 px-2 rounded-xl ml-3">
                            <input type="checkbox" name="upvoted" id="upvoted-checkbox" {% if request.GET.upvoted %}checked{% endif %}>
                            <label for="upvoted-checkbox">Most Upvoted</label>
                        </li>
                    </ul>

                    <!-- Location filter -->
                    <p class="font-semibold text-xl ml-2 uppercase" style="margin-top: 30px">LOCATION</p>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'item:add_location' %}"
                           class="btn btn-sm btn-primary ml-5 mb-10" style="color: {{ user.profile.color }}" role="button">
                            Add Location
                        </a>
                    {% endif %}
                    <ul>
                        {% for location in location %}
                            <li class="py-2 px-2 rounded-xl ml-3">
                                <input type="checkbox" name="locations" value="{{ location.id }}" id="location_{{ location.id }}"
                                       {% if location.id|stringformat:"s" in test2 %}checked{% endif %}>
                                <label for="location_{{ location.id }}">{{ location.name }}</label>

                                {% if request.user.is_superuser %}
                                    <a href="{% url 'item:edit_location' location.id %}"
                                       class="btn btn-sm btn-primary" style="color: {{ user.profile.color }}" role="button">
                                        Edit
                                    </a>
                                    <a href="{% url 'item:deleteLocation' location.id %}"
                                       class="btn btn-sm btn-primary" style="color: {{ user.profile.color }}" role="button">
                                        Delete
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Search and Clear filters buttons -->
                <!-- (visible for mobile and hidden for lg and desktop view) -->
                <div class="flex space-x-2 lg:grid-cols-2">
                    <button class="p-2 text-md text-white rounded-lg items-center uppercase font-bold lg:text-lg"
                            style="background: {{ user.profile.color }}" type="submit">Search</button>
                    <a href="{% url 'item:items' %}" class="p-2 text-md text-center text-white rounded-lg uppercase font-bold lg:text-lg" style="background: {{ user.profile.color }}">Clear all filters</a>
                </div>
            </form>
        </div>

        <hr class="lg:hidden" style="width: 100%; border: 1px solid {{ user.profile.color}}">

        <!-- Items displayed in a single column -->
        <div class="col-span-1 p-5 lg:text-center" style="margin-top: 10px;">
            {% if items %}
                <div class="text-center text-xl font-bold uppercase mb-5 lg:text-center">New items!!</div>
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-4">
                    {% for item in items %}
                        <a href="{% url 'item:detail' item.id %}" class="block">
                            <div class="bg-white rounded-lg overflow-hidden shadow-md flex flex-col lg:flex-row">
                                <img src="{{ item.image.url }}" class="mt-4 object-cover shadow-xl rounded-t-xl p-3 lg:ml-3 lg:shadow-xl lg:w-32 lg:h-32 lg:p-1 lg:rounded-lg">
                                <div class="p-5 text-center lg:w-full lg:text-left lg:p-4">
                                    <h2 class="text-lg font-bold uppercase">{{ item.name }}</h2>
                                    <p class="text-lg font-bold uppercase">₱ {{ item.price }}</p>
                                    <p class="text-gray-500 text-sm">Category: {{ item.category.name }}</p>
                                    <p class="text-gray-500 text-sm">Location: {{ item.created_by.profile.location.name }}</p>
                                    <p class="text-gray-500 text-sm">Upvotes: {{ item.created_by.profile.upvotes }}</p>
                                    <p class="text-gray-500 text-sm">Downvotes: {{ item.created_by.profile.downvotes }}</p>
                                    {% if item.description %}
                                        <p class="text-gray-500 text-sm">Description:{{ item.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center text-xl font-bold uppercase mb-5 lg:text-center">No results found </div>
            {% endif %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="mt-20 flex justify-center items-center">
        <div class="pagination flex items-center space-x-4">
            {% if items.has_previous %}
                <a href="?page=1" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">First</a>

                <ul class="flex space-x-2">
                    {% for page in items.paginator.page_range %}
                        <li>
                            <a href="?page={{ page }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200 p-2 rounded-md border border-gray-300">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <a href="?page={{ items.previous_page_number }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Previous</a>
            {% endif %}

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Next</a>

                <ul class="flex space-x-2">
                    {% for page in items.paginator.page_range %}
                        <li>
                            <a href="?page={{ page }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200 p-2 rounded-md border border-gray-300">{{ page }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <a href="?page={{ items.paginator.num_pages }}" class="text-gray-500 text-lg hover:text-orange-500 hover:bg-gray-200">Last</a>
            {% endif %}
        </div>
    </div>


    <script>
        function toggleFilters() {
            const filterOptions = document.getElementById('filterOptions');
            filterOptions.style.display = filterOptions.style.display === 'none' ? 'block' : 'none';
        }
    </script>

{% endblock content %}