{% extends 'core/base.html' %}

{% block title %}Items{% endblock title %}

{% block content %}
 <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class ="col-span-1">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Search for items">
                <button class="mt-2 py-4 px-8 text-lg bg-red-800 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold text-xl">Categories</p>
            <ul>
                {% for category in category %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200 {% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <p class="font-semibold text-xl">Price Range</p>
            <ul>
                {% for price_range in price_ranges %}
                    <li class="py-2 px-2 rounded-xl{% if price_range.id == selected_price_range %} bg-gray-200 {% endif %}">
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category_id }}&location={{ location_id }}&price_range={{ price_range.id }}">{{ price_range.name }}</a>
                </li>
                {% endfor %}
            </ul>



            <p class="font-semibold text-xl">Preferred location</p>
            <ul>
                {% for location in location %}
                    <li class="py-2 px-2 rounded-xl{% if location.id == location_id %} bg-gray-200 {% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&location={{ location.id }}">{{ location.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

{#            <p class="font-semibold text-xl">Clear filters</p>#}
{##}
{#            <ul>#}
{#                <li class="py-2 px-2 rounded-xl">#}
{#                    <a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block text-lg rounded-xl text-white bg-red-800">Clear all filters</a>#}
{#                </li>#}
{#            </ul>#}

        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                                <!-- Display the location of the user who posted the item -->
                                <p class="text-gray-500">Location: {{ item.created_by.profile.location.name }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{#            <hr class ="my-6">#}
{##}
{#            <p class="font-semibold text-xl">Clear filters</p>#}
{##}
{#            <ul>#}
{#                <li class="py-2 px-2 rounded-xl">#}
{#                    <a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block text-lg rounded-xl text-white bg-red-800">Clear all filters</a>#}
{#                </li>#}
{#            </ul>#}
{##}
{#        </div>#}
{##}
{#        <div class="col-span-3">#}
{#            <div class="grid grid-cols-3 gap-3">#}
{#            {% for item in items %}#}
{#                <div>#}
{#                    <a href="{% url 'item:detail' item.id %}">#}
{#                        <div>#}
{#                            <img src="{{ item.image.url }}" class="rounded-t-xl">#}
{#                        </div>#}
{##}
{#                        <div class="p-6 bg-white rounded-b-xl">#}
{#                            <h2 class="text-2xl">{{ item.name }}</h2>#}
{#                            <p class="text-gray-500">Price: {{ item.price }}</p>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock content %}